.content{
  text-align: center;
}

.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explain {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ooimages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ooimages img{
  width: 200px;
  padding: 10px;
}

.list {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.list p{
  text-align: left;
}
