body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 300;
  color: black;
  /**background-image: linear-gradient(to right, #3791E9, #FFFFFF 20%, #FFFFFF 80%, #DB8C23);**/
}
h1{
  font-size: 225%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image:linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0));
  z-index: 99;
}

.left{
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px;
}
.title h1{
  color: black;
  margin: 0;
}
.logo img {
  width: 150px;
  margin-left: 5px;
  margin-right: 10px;
}


.right {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-around;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  padding: 0;
  margin: 5px 0;
}
.menu-item img{
  height: 50px;
  margin: 0;
}
.menu-item p{
  margin: 0;
  text-align: center;
}

.content{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 8%;
}



@media only screen and (max-width: 1375px){
  .content{
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1125px){
  .content{
    margin-top: 11%;
  }
}
@media only screen and (max-width: 1125px){
  .content{
    margin-top: 12%;
  }
}
@media only screen and (max-width: 886px){
  .menu {
    flex-direction: column;
    position: sticky;
    top: -120px;
    padding-bottom: 40px;
  }
  .content{
    margin-top: 0;
  }
  .left{
    justify-content: center;
  }
}
@media only screen and (max-width: 474px){
  h1{
    font-size: 190%;
  }
  .menu-item {
    width: 90px;
  }
  .menu-item img{
    height: 45px;
  }
}
@media only screen and (max-width: 440px){
  .menu {
    flex-direction: column;
    position: sticky;
    top: -195px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 428px){
h1{
  font-size: 150%;
}
  .menu-item {
    width: 80px;
  }
  .menu-item img{
    height: 40px;
  }
}
